body {
    margin:0;
    overflow: hidden;
}

a {
    transition: 1s ease-in-out;
    text-decoration: none;
    color:white;
    font-size: 25px;
}
.container {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bggg.png);
}

.nameofsite {
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    font-size: 100px;
}

a:hover {
    color:blueviolet;
}

@keyframes moveUp {
    from {
      background-position: 0 0; /* Initial background position */
    }
    to {
      background-position: 0 -20000vh; /* Move background up by the height of the container */
    }
  }
  
.container {
  animation: moveUp 9999s linear infinite; /* Adjust the duration and timing function as needed */
}
