body {
    background-image: url(bggg.png);
    overflow: hidden;
}

a {
    transition: 1s ease-in-out;
    text-decoration: none;
    color:white;
    font-size: 50px;
}
.container {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nameofsite {
    font-family: 'Inter', sans-serif;
    color:aliceblue;
    font-size: 100px;
}

a:hover {
    color:blueviolet;
}
