body {
    animation: znimation 2s forwards;
    scrollbar-width: none;
}

@keyframes znimation {
    0% {
        opacity: 0;
        transform: translate(0%, 25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}