body {
    animation: znimation 2s forwards;
}

@keyframes znimation {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}