@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


html, body {
	height: 100%;
	margin: 0;
	background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(60, 60, 10));
	background-attachment: fixed;
}
.bubbly-button a {
	font-size: 24px;
	font-family: 'Quicksand';
	font-weight: bold;
}
p.cardtext {
	display: none;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}
img.cardimg {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
img.cardimg:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s linear all;
}
img.cardimg:hover + p.cardtext{
	display: block;
}
div.grayy {
	display: none;
}
div.booger {
	width: 100%;
	height: 5px;
}
.centerre {
	text-align: center;
}
.search-container {
	height: 200px;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.search-container button {
	height: 50px;
	text: none;
}
span.gc {
	text-align: center;
	font-size: 50px;
	color:white;
	margin-bottom: 20px;
}
#searchInput {
	border: 2px solid black;
	background-color: rgba(145, 119, 0, 0.8);
	margin-top: 50px;
	width: 80%;
	height: 50px;
}
.bubbly-button{
	font-family: 'Helvetica', 'Arial', sans-serif;
	display: inline-block;
	font-size: 1em;
	padding: 1em 2em;
	margin-top: 10px;
	margin-left: 13px;
	margin-bottom: 20px;
	-webkit-appearance: none;
	appearance: none;
	background-color:rgba(145, 119, 0, 0.8);
	color: $button-text-color;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(145, 119, 0, 0.8);
	
	&:focus {
	  outline: 0;
	}
	
	&:before, &:after{
	  position: absolute;
	  content: '';
	  display: block;
	  width: 140%;
	  height: 100%;
	  left: -20%;
	  z-index: -1000;
	  transition: all ease-in-out 0.5s;
	  background-repeat: no-repeat;
	}
	
	&:before{
	  display: none;
	  top: -75%;
	  background-image:  
		radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%), 
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
	//background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
	}
	
	&:after{
	  display: none;
	  bottom: -75%;
	  background-image:  
	  radial-gradient(circle, $button-bg 20%, transparent 20%), 
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%),
	  radial-gradient(circle, $button-bg 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
	//background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
   
	&:active{
	  transform: scale(0.9);
	  background-color: darken($button-bg, 5%);
	  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
	}
	
	&.animate{
	  &:before{
		display: block;
		animation: topBubbles ease-in-out 0.75s forwards;
	  }
	  &:after{
		display: block;
		animation: bottomBubbles ease-in-out 0.75s forwards;
	  }
	}
  }
  
  
  @keyframes topBubbles {
	0%{
	  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	  50% {
		background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
   100% {
	  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
	background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
  }
  
  @keyframes bottomBubbles {
	0%{
	  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
	  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
   100% {
	  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
	background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
	}
}
.bubbly-button:hover {
	transform: scale(1.1);
	background-color: rgb(179, 148, 0);
    box-shadow: 0 2px 25px rgba(179, 148, 0);
}
img.cardimg:hover + div.grayy {
	display: block;
	opacity: 0.5;
	background-color: gray;
	width: 150px;
	height: 150px;
	border-radius: 20px;
	transition: 0.3s linear all;
	z-index: 1;
}
a {text-decoration: none; color: inherit;}
.button-34 {
	transition:all .5s ease;
	background: #5E5DF0;
	border-radius: 999px;
	box-shadow: #5E5DF0 0 10px 20px -10px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	opacity: 1;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
}
.button-34:hover {
	transform: scale(1.1);
	transition: 0.3s ease-in-out all;
}
#container {
	justify-content: space-evenly;
}
.lead { 
	margin: auto;
    font-size: 200px;
    font-family: 'Quicksand'; 
    background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(60,60,60,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-bar {
    top:0;
	position: fixed;
	width: 99%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid rgba(60,60,60,1);
	border-left: 10px solid rgba(60,60,60,1);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(60,60,60,1);
	border-right: 10px solid rgba(60,60,60,1);
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family: 'Quicksand', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.aeu-signature {
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	line-height: 30px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Quicksand"; }
.aeu-signature > img { height: 30px; }
.context-menu { 
    position: absolute; 
    text-align: center; 
    opacity: 0.3;
    background: lightgray; 
    border-radius: 10px;
} 

.context-menu ul { 
    padding: 0px; 
    margin: 0px; 
    min-width: 150px; 
    list-style: none; 
} 

.context-menu ul li { 
    padding-bottom: 7px; 
    padding-top: 7px; 
    border: 1px solid black; 
} 

.context-menu ul li a { 
    text-decoration: none; 
    color: black; 
} 

.context-menu ul li:hover { 
    background: darkgray; 
} 
