@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

.bubbly-button a {
	font-size: 24px;
	font-family: 'Quicksand';
	font-weight: bold;
}
p.cardtext {
	display: none;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
}
img.cardimg {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}
img.cardimg:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s linear all;
}
img.cardimg:hover + p.cardtext{
	display: block;
}
#searchInput {
	translate: translateX(-50%);
	width: 600px;
	height: 50px;
	text-align: center;
	color:whitesmoke;
	background-color: #131113;
	border-radius: 500px;
	user-select: all;
}
div.grayy {
	display: none;
}
div.booger {
	width: 100%;
	height: 5px;
}
.centerre {
	text-align: center;
}
.search-container {
	height: 200px;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.search-container button {
	height: 50px;
}
span.gc {
	text-align: center;
	font-size: 50px;
	color:white;
	margin-bottom: 20px;
}

img.cardimg:hover + div.grayy {
	display: block;
	opacity: 0.5;
	background-color: gray;
	width: 150px;
	height: 150px;
	border-radius: 20px;
	transition: 0.3s linear all;
	z-index: 1;
}
a {text-decoration: none; color: inherit;}
.button-34 {
	transition:all .5s ease;
	background: #5E5DF0;
	border-radius: 999px;
	box-shadow: #5E5DF0 0 10px 20px -10px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	opacity: 1;
	outline: 0 solid transparent;
	padding: 8px 18px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: fit-content;
	word-break: break-word;
	border: 0;
}
.button-34:hover {
	transform: scale(1.1);
	transition: 0.3s ease-in-out all;
}
#buttonContainer {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow-y: auto; /* Enable vertical scrolling */
    min-height: 100%; /* Set a maximum height to prevent it from going off-screen */
/* Add padding for better spacing */
	text-align: center;
}
#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
#container {
	display: flex;
	align-items: center;
}
.lead { 
	margin: auto;
    font-size: 125px;
    font-family: 'Quicksand'; 
    background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(60,60,60,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-bar {
    top:0;
	position: fixed;
	width: 99%;
	min-width: 300px;
	height: 50px;
	border: 10px solid transparent;
	border-top: 10px solid rgba(60,60,60,1);
	border-left: 10px solid rgba(60,60,60,1);
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25) inset;
}
.header-bar::after {
	content: '';
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30%;
	height: 49px;
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(60,60,60,1);
	border-right: 10px solid rgba(60,60,60,1);
	transition: 0.3s linear all;
}
.header-bar > .logo {
	position: absolute;
	top: calc(50% - 20px);
	left: 10px;
	transform: translateY(-50%);
	color: #fffc;
	font-family: 'Quicksand', cursive;
	cursor: default;
	user-select: none;
}
.slider-menu {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.slider-menu > li {
	display: inline-flex;
	padding: 14px;
	margin-left: 2px;
	font-family: 'Quicksand', sans-serif;
	color: #fff;
	cursor: pointer;
	transition: 0.3s linear all;
	user-select: none;
}
.slider-menu > li:hover {
	color: #faa;
	box-shadow: 0 50px 5px rgba(0, 0, 0, 0.15) inset;
}
.aeu-signature {
	position: fixed;
	top: 5px;
	left: 50%;
	transform: translate(-50%);
	font-size: 15px;
	line-height: 30px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.aeu-signature { font-family: "Quicksand"; }
.aeu-signature > img { height: 30px; }
.context-menu { 
    position: absolute; 
    text-align: center; 
    opacity: 0.3;
    background: lightgray; 
    border-radius: 10px;
} 

.context-menu>ul { 
	
	transition: 0.3s ease-in-out all;
    padding: 0px; 
    margin: 0px; 
    min-width: 300px; 
    list-style: none; 
} 

.context-menu>ul>a { 
    text-decoration: none;
    color: black;
	padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid black;
} 

.context-menu>ul>a:hover { 
	transform: scale(1.1);
	transition: 0.3s ease-in-out all;
    background: darkgray; 
} 
